.container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,.25);
    transition: all .8s;
    padding: 0.4rem 0;
}

.container.scroll {
    background-color: #3f4a5c;
    transition: all .8s;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 680px) {
    .header {
        flex-direction: column;
        gap: 0.4rem;
    }
}
