.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_h1 {
  color: #FFFFFF;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-family: Playfair Display,Georgia,Cambria,Times New Roman,Times,serif;
  transition: font-size 0.7s;
}

.container_h1.scroll {
  font-size: 0;
  transition: font-size 0.7s;
}

.container_h2 {
  color: #FFFFFF;
  font-size: 1.2rem;
  word-spacing: 0.2rem;
}
