.input_container {
  width: 30%;
}
.input_container.address {
  width: 100%;
}

.input_label {
  font-size: 0.8rem;
  color: #FFFFFF;
  display: block;
  letter-spacing: 0.024rem;
  text-transform: uppercase;
}

.input {
  width: 100%;
  border: 1px solid #3F4A5C;
  border-radius: 4px;
  margin-top: 2px;
  height: 36px;
  padding: 6px;
  font-size: 1rem;
}

.input.description {
  height: 80px
}

.error {
  position: absolute;
  color: white;
  font-size: 0.8rem;
  letter-spacing: 0.02rem;
}

@media (max-width: 680px) {
  .input_container {
    width: 46%;
  }
}

@media (max-width: 460px) {
  .input_container {
    width: 100%;
  }
}



