.container {
  background-color: #fff;
  color: #000000;
}

.wrapper {
  max-width: 920px;
  margin-bottom: 5rem;
}

.text {
  font-size: 1.1rem;
  line-height: 1.6;
  font-family: inherit;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  word-spacing: 0.1rem;
  flex: 1;
}




